body {
  background-color: #172c27;
}

header {
  padding: 156px 0 100px;
}

section {
  padding: 75px 0;
}

.site-container {
  margin: 15px;
}

.content-container {
    background-color: #ffffff;
    padding-top: 10px;
    width: 85%;
    border-radius: 5px;
    margin: 0 auto;
}

.content-relacionados {
  margin: 0 auto;
  padding: 10px;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
body::-webkit-scrollbar-thumb {
  background-color: #ad67b4;
  background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.3) 20%,transparent 20%,transparent 40%,rgba(255, 255, 255, 0.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%,transparent 80%,rgba(255, 255, 255, 0.3) 80%);
  border-radius: 10px;
}

@-webkit-keyframes STAR-MOVE {
	from {
		background-position: 5% 5%
	}
	to { 
		background-position: 1300% 600%
	}
}

.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.navbar-dark .navbar-toggler {
  color: rgba(255,255,255,.5);
  border: none;
}

.navbar-toggler-icon-scooby {
  display: inline-block;
  width: 2.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  background-image: url(../img/icon-menu.png);
}

.pulsar {
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 1px 2px rgba(201,68,210,0.15)
	}

	70% {
		transform: scale(1);
		box-shadow: 0 2.5px 7px rgba(201,68,210,0.7)
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 5px 15px rgba(201,68,210,0.5)
	}
}

.boton-girar{
  -webkit-animation:spin 1s linear;
  -moz-animation:spin 1s linear;
  animation:spin 1s linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.navbar-image {
  width: 100%;
  bottom: 0px;
  height: 69%;
  position: relative;
}

.navbar-collapse {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 40%;
  z-index: 500;
  background: rgb(18,101,89);
  background: linear-gradient(90deg, rgba(18,101,89,1) 0%, rgba(49,139,112,1) 35%, rgba(44,125,110,1) 100%);
  height: 100%;
}

.navbar-collapse.collapsing {
  height: auto;
  -webkit-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  transition: left 0.3s ease;
  left: -100%;
}
.navbar-collapse.show {
  left: 0;
  -webkit-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  -moz-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
}
.nav-item {
  font-size: 42px;
}


.bg-halloween {
  background-color: #011918;
}

#background {
	background: black url(../img/background.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 400s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#midground {
	background: url(../img/midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 200;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 150s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#foreground {
	background: url(../img/foreground.png) repeat 35% 35%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 300;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 100s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

 /* Styles for the tilt block */
 #tilt {
  display: block;
  height: 214px;
  width: 600px;
  margin: 0 auto;
  transition: box-shadow 0.1s, transform 0.1s;
  background-image: url(../img/scoobylogo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 400;;
 }
 
 #tilt:hover {
   box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
   cursor: pointer;
 }

/*animation element*/

.animation-element {
  opacity: 0;
  position: relative;
}

.titulo-articulo h2 {
  color:black;
}

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-up {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100px, 0px);
}

.animation-element.slide-up.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

a-countdown {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  text-shadow: 2px 2px #ad67b4;
  font-weight: bold;
}

.card {
  vertical-align: middle;
  max-width: 600px;
  max-height: 500px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  border-radius: 15px;
  transition: 0.5s;
  position: relative;
  background-color: #fff0;
  border: none;
}

.card img {
  height: 440px;
}

.card h3 {
  position: absolute;
  bottom: 0;
  color: #fced08;
  text-shadow: 2px 2px #f4984f;
  padding: 10px;
}

.card:hover{
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 5px 10px 20px #888888;
  transform: rotateY(360deg);
  transition: 1.5s;
}

.personajes, .estreno {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}

body {padding: 20px 0;}

#slider {
  margin: 0 auto;
  width: 100%;
  position: relative;
}
#slides {
  background: #fced08;
  padding: 5px;
  border-radius: 5px;
}

.inner {width: 500%;}
.inner:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

.page {float: left; width: 20%;}
.page img {
  width: 100%;
  height: 550px;
}

#overflow {overflow: hidden;}

#slider input {display: none;}

#controls {
   position: absolute;
   width:100%;
   top: 120px;
   left: 0;
   height: 50px;
}
#controls label {
  display: none;
  opacity: 0.3;
  cursor: pointer;
}
#controls label:hover {opacity: 0.8;}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(1) {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid #333;
  border-bottom: 20px solid transparent;
  float: right; 
  margin-right:-30px; 
  display: block;
}

#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4) {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
    border-right: 20px solid  rgb(51, 51, 51);
    float: left;	
	  display: block;
    margin-left: -27px;
	}

#slide1:checked ~ #slides .inner { margin-left:0;} 
#slide2:checked ~ #slides .inner { margin-left:-100%;} 
#slide3:checked ~ #slides .inner { margin-left:-200%;} 
#slide4:checked ~ #slides .inner { margin-left:-300%;} 
#slide5:checked ~ #slides .inner { margin-left:-400%;} 

#active {text-align: center; margin-top: 10px;}
#active label {
  width: 15px;
  height: 10px;
  background: #f49c4b;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
} 

#active label:hover {background:#8c4484;}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) { background: #6f2791;}

#slides .inner {
  -webkit-transition: all 0.8s ease-in-out;
     -moz-transition: all 0.8s ease-in-out;
      -ms-transition: all 0.8s ease-in-out;
       -o-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  background-color: whitesmoke;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: center;
  position: relative;
}

.texto-panel {
  position: absolute;
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-shadow: rgb(241 35 255) 1px 0 10px;
}

.imagen-panel {
	width: 100%;
}

.imagen-panel:hover {
	transform: scale(1);
	animation: pulse 2s infinite;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}



