.wrapper {
    text-align: center;
    /*background: rgba(20, 100, 45, .3);*/
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.bg-blue {
    background-color: #43668a!important;
}

.p1 {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #e44e4e;
}

.p2 {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #22ce49;
}

#grid{
    position: absolute;
    width: 75vw;
    height: 75vw;
    max-width: 30em;
    max-height: 30em;
    display: block;
    cursor: pointer;
    background: transparent;
    transform: translateY(-100%);
}

#canvas{
    display: block;
    position: relative;
    width: 75vw;
    height: 75vw;
    max-width: 30em;
    max-height: 30em;
}