.wrapper {
    text-align: center;
    /*background: rgba(20, 100, 45, .3);*/
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#grid{
    position: absolute;
    width: 75vw;
    height: 75vw;
    max-width: 30em;
    max-height: 30em;
    display: block;
    cursor: pointer;
    background: transparent;
    transform: translateY(-100%);
}

#canvas{
    display: block;
    position: relative;
    width: 75vw;
    height: 75vw;
    max-width: 30em;
    max-height: 30em;
}